<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ant.shop.asorm.mapper.FineOrgMapper">
  <resultMap id="BaseResultMap" type="com.ant.shop.asorm.entity.FineOrg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="sort" jdbcType="SMALLINT" property="sort" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="longtitude" jdbcType="DECIMAL" property="longtitude" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="business_model" jdbcType="TINYINT" property="businessModel" />
    <result column="is_enabled" jdbcType="BIT" property="isEnabled" />
    <result column="type" jdbcType="TINYINT" property="type" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, code, name, remark, parent_id, sort, created, short_name, address, longtitude,
    latitude, status, business_model, is_enabled, type
  </sql>
  <select id="selectNameById" resultType="java.lang.String">
    select name from fine_org where id = #{id}
  </select>
  <select id="selectByExample" parameterType="com.ant.shop.asorm.entity.FineOrgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fine_org
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fine_org
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByParentId" resultType="com.ant.shop.asorm.model.OrganizationDTO">
    SELECT
    <include refid="Base_Column_List"/>
    FROM fine_org
    WHERE parent_id= #{parentId}

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fine_org
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ant.shop.asorm.entity.FineOrgExample">
    delete from fine_org
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ant.shop.asorm.entity.FineOrg" keyProperty="id" useGeneratedKeys="true">
    insert into fine_org (id, code, name,
      remark, parent_id, sort,
      created, short_name, address,
      longtitude, latitude, status,
      business_model, is_enabled, type
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{sort,jdbcType=SMALLINT},
      #{created,jdbcType=TIMESTAMP}, #{shortName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{longtitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT},
      #{businessModel,jdbcType=TINYINT}, #{isEnabled,jdbcType=BIT}, #{type,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ant.shop.asorm.entity.FineOrg">
    insert into fine_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="shortName != null">
        short_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="longtitude != null">
        longtitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="businessModel != null">
        business_model,
      </if>
      <if test="isEnabled != null">
        is_enabled,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=SMALLINT},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longtitude != null">
        #{longtitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="businessModel != null">
        #{businessModel,jdbcType=TINYINT},
      </if>
      <if test="isEnabled != null">
        #{isEnabled,jdbcType=BIT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ant.shop.asorm.entity.FineOrgExample" resultType="java.lang.Long">
    select count(*) from fine_org
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectOrgByStaffId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM fine_staff_org_role fsor,fine_org fo
    WHERE fsor.org_id=fo.id AND fsor.staff_id=#{staffId}
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fine_org
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=SMALLINT},
      </if>
      <if test="record.created != null">
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shortName != null">
        short_name = #{record.shortName,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.longtitude != null">
        longtitude = #{record.longtitude,jdbcType=DECIMAL},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.businessModel != null">
        business_model = #{record.businessModel,jdbcType=TINYINT},
      </if>
      <if test="record.isEnabled != null">
        is_enabled = #{record.isEnabled,jdbcType=BIT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fine_org
    set id = #{record.id,jdbcType=INTEGER},
    code = #{record.code,jdbcType=VARCHAR},
    name = #{record.name,jdbcType=VARCHAR},
    remark = #{record.remark,jdbcType=VARCHAR},
    parent_id = #{record.parentId,jdbcType=INTEGER},
    sort = #{record.sort,jdbcType=SMALLINT},
    created = #{record.created,jdbcType=TIMESTAMP},
    short_name = #{record.shortName,jdbcType=VARCHAR},
    address = #{record.address,jdbcType=VARCHAR},
    longtitude = #{record.longtitude,jdbcType=DECIMAL},
    latitude = #{record.latitude,jdbcType=DECIMAL},
    status = #{record.status,jdbcType=TINYINT},
    business_model = #{record.businessModel,jdbcType=TINYINT},
    is_enabled = #{record.isEnabled,jdbcType=BIT},
    type = #{record.type,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ant.shop.asorm.entity.FineOrg">
    update fine_org
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=SMALLINT},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="shortName != null">
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="longtitude != null">
        longtitude = #{longtitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="businessModel != null">
        business_model = #{businessModel,jdbcType=TINYINT},
      </if>
      <if test="isEnabled != null">
        is_enabled = #{isEnabled,jdbcType=BIT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ant.shop.asorm.entity.FineOrg">
    update fine_org
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      sort = #{sort,jdbcType=SMALLINT},
      created = #{created,jdbcType=TIMESTAMP},
      short_name = #{shortName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      longtitude = #{longtitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      business_model = #{businessModel,jdbcType=TINYINT},
      is_enabled = #{isEnabled,jdbcType=BIT},
      type = #{type,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>